.style-book-scoped-card-group-design-library .card-item-first {
	background-color: var(--teal-l3);
}

.style-book-scoped-card-group-design-library .card-type-asset-icon {
	color: var(--teal);
}

.style-book-scoped-card-entry-design-library .card-type-asset-icon {
	color: var(--purple);
}

.style-book-scoped-card-group-site.image-card .aspect-ratio {
	background-image: none;
}
