/// This map outputs custom properties in the `:root` selector, use the Sass `map-merge` function to add additional custom properties to `:root`.

$c-root: () !default;
$c-root: map-merge(
	(
		--clay-primary: #{$primary-default},
		--clay-primary-d1: #{$primary-d1-default},
		--clay-primary-d2: #{$primary-d2-default},
		--clay-primary-l0: #{$primary-l0-default},
		--clay-primary-l1: #{$primary-l1-default},
		--clay-primary-l2: #{$primary-l2-default},
		--clay-primary-l3: #{$primary-l3-default},
		--clay-secondary: #{$secondary-default},
		--clay-secondary-d1: #{$secondary-d1-default},
		--clay-secondary-d2: #{$secondary-d2-default},
		--clay-secondary-l0: #{$secondary-l0-default},
		--clay-secondary-l1: #{$secondary-l1-default},
		--clay-secondary-l2: #{$secondary-l2-default},
		--clay-secondary-l3: #{$secondary-l3-default},
		--clay-success: #{$success-default},
		--clay-success-d1: #{$success-d1-default},
		--clay-success-d2: #{$success-d2-default},
		--clay-success-l1: #{$success-l1-default},
		--clay-success-l2: #{$success-l2-default},
		--clay-info: #{$info-default},
		--clay-info-d1: #{$info-d1-default},
		--clay-info-d2: #{$info-d2-default},
		--clay-info-l1: #{$info-l1-default},
		--clay-info-l2: #{$info-l2-default},
		--clay-warning: #{$warning-default},
		--clay-warning-d1: #{$warning-d1-default},
		--clay-warning-d2: #{$warning-d2-default},
		--clay-warning-l1: #{$warning-l1-default},
		--clay-warning-l2: #{$warning-l2-default},
		--clay-danger: #{$danger-default},
		--clay-danger-d1: #{$danger-d1-default},
		--clay-danger-d2: #{$danger-d2-default},
		--clay-danger-l1: #{$danger-l1-default},
		--clay-danger-l2: #{$danger-l2-default},
		--clay-light: #{$light-default},
		--clay-light-d1: #{$light-d1-default},
		--clay-light-d2: #{$light-d2-default},
		--clay-light-l1: #{$light-l1-default},
		--clay-light-l2: #{$light-l2-default},
		--clay-dark: #{$dark-default},
		--clay-dark-d1: #{$dark-d1-default},
		--clay-dark-d2: #{$dark-d2-default},
		--clay-dark-l1: #{$dark-l1-default},
		--clay-dark-l2: #{$dark-l2-default},
	),
	$c-root
);

$c-root: map-merge(
	(
		--clay-alert-border-radius: #{$alert-border-radius-default},
		--clay-alert-margin-bottom: #{$alert-margin-bottom-default},
		--clay-alert-padding-x: #{$alert-padding-x-default},
		--clay-alert-padding-y: #{$alert-padding-y-default},
		--clay-alert-primary-bg: #{$alert-primary-bg-default},
		--clay-alert-primary-border-color: #{$alert-primary-border-color-default},
		--clay-alert-primary-color: #{$alert-primary-color-default},
		--clay-alert-primary-link-color: #{$alert-primary-link-color-default},
		--clay-alert-secondary-bg: #{$alert-secondary-bg-default},
		--clay-alert-secondary-border-color: #{$alert-secondary-border-color-default},
		--clay-alert-secondary-color: #{$alert-secondary-color-default},
		--clay-alert-secondary-link-color: #{$alert-secondary-link-color-default},
		--clay-alert-success-bg: #{$alert-success-bg-default},
		--clay-alert-success-border-color: #{$alert-success-border-color-default},
		--clay-alert-success-color: #{$alert-success-color-default},
		--clay-alert-success-link-color: #{$alert-success-link-color-default},
		--clay-alert-info-bg: #{$alert-info-bg-default},
		--clay-alert-info-border-color: #{$alert-info-border-color-default},
		--clay-alert-info-color: #{$alert-info-color-default},
		--clay-alert-info-link-color: #{$alert-info-link-color-default},
		--clay-alert-warning-bg: #{$alert-warning-bg-default},
		--clay-alert-warning-border-color: #{$alert-warning-border-color-default},
		--clay-alert-warning-color: #{$alert-warning-color-default},
		--clay-alert-warning-link-color: #{$alert-warning-link-color-default},
		--clay-alert-danger-bg: #{$alert-danger-bg-default},
		--clay-alert-danger-border-color: #{$alert-danger-border-color-default},
		--clay-alert-danger-color: #{$alert-danger-color-default},
		--clay-alert-danger-link-color: #{$alert-danger-link-color-default},
		--clay-alert-light-bg: #{$alert-light-bg-default},
		--clay-alert-light-border-color: #{$alert-light-border-color-default},
		--clay-alert-light-color: #{$alert-light-color-default},
		--clay-alert-light-link-color: #{$alert-light-link-color-default},
		--clay-alert-dark-bg: #{$alert-dark-bg-default},
		--clay-alert-dark-border-color: #{$alert-dark-border-color-default},
		--clay-alert-dark-color: #{$alert-dark-color-default},
		--clay-alert-dark-link-color: #{$alert-dark-link-color-default},
	),
	$c-root
);
